<!DOCTYPE html>
<html>
<head>
        <title>Car Price Prediction</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    
    <style>
        body { font-family: Arial, sans-serif; text-align: center; margin-top: 50px; }
        input { margin: 10px; padding: 8px; width: 200px; }
        button { padding: 10px 20px; background: blue; color: white; border: none; cursor: pointer; }
    </style>
</head>
<body background="">
    <h1>Car Price Prediction</h1>
    <form action="/predict" method="post">
        <input type="number" name="Year" placeholder="Year" required><br>
        <input type="number" name="Kms_Driven" placeholder="Kilometers Driven" required><br>
        <input type="number" name="Fuel" placeholder="Fuel Type (0/1/2)" required><br>
        <input type="number" name="Transmission" placeholder="Transmission (0/1)" required><br>
        <input type="number" name="Owner" placeholder="Owner Type (0/1/2/3)" required><br>
        <input type="number" name="Seller_Type" placeholder="SellerType(0/1)" required><br>
        <button type="submit">Predict</button>
    </form>
    <h2>{{ prediction_text }}</h2>
</body>
</html>